<!-- Begin Nav -->

<div class="row">
  <div class="large-3 columns">
    <h1><a href="https://soundcloud.com/mastamindzllc" class="fc-webicon soundcloud">soundcloud</a>
    <a href="https://twitter.com/MastaMindzLLC" class="fc-webicon twitter">twitter</a>
    <a href="https://www.youtube.com/MastaMindzLLC" class="fc-webicon youtube">youtube</a>
    <a href="https://www.facebook.com/MastaMindzLLC" class="fc-webicon facebook">facebook</a></h1>
  </div>
  <div class="large-9 columns">
    <ul class="button-group right">
      <li><%= link_to "Home",		root_path,	class: "small button"%></li>
      <li><%= link_to "Music",		music_path,	class: "small button"%></li>
      <li><%= link_to "Videos", 	videos_path,	class: "small button"%></li>
      <li><%= link_to "Services", 	services_path,	class: "small button"%></li>
      <li><%= link_to "Contact", 	contact_path, 	class: "small button"%></li>
    </ul>
  </div>
</div>

<!-- End Nav -->

<!-- Begin Masta Mindz Logo & Description-->

<div class="row">
  <div class="large-4 columns">
    <div class="panel">
	<img src="/assets/mastamindz_logo.jpg" />
    </div>
  </div>
  <div class="large-8 columns">
    <h3>Make Your Next Single Epic!</h3>
      <p>Masta Mindz LLC is a record production duo consisting of Kevin Lee "Scorpio Poizen" and Istafa Marshall "SamuraiBlack". Based out of Central Islip New York, we have a distinctive sound﻿ hyped up by alternately terse and heavy beats﻿ that can fulfill any Hip Hop, R&B or Pop artist's production needs. If you want a hit, you’d best make a call to Masta Mindz!</p>
      <p>We have over 350 tracks ready for artists of any genre. All tracks are ready to be mixed and mastered to your liking. To set up a listening session or discuss your next track <%= link_to "contact us", contact_path %>.</p>
  </div>
</div>

<!-- End Masta Mindz Logo & Description-->